@use '../../styles/variables.scss';

.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  opacity: 0;

  .required {
    color: variables.$red;
  }

  > h2 {
    margin-block-end: 25px;
    font-family: variables.$font-family-bold;
  }

  > h4 {
    text-align: justify;
    margin-block-end: 15px;
  }

  .termsBox {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: flex-start;
    gap: 15px;
    margin-bottom: 20px;

    > p {
      text-align: justify;
      font-size: 14px;
      line-height: normal;
      > span:not(.required) {
        color: variables.$orange;
        font-family: variables.$font-family-bold;
        cursor: pointer;
      }
    }
  }

  > button {
    align-self: flex-end;
  }
}
