@use '../../../styles/variables.scss';
@use '../../../styles/utils.scss';
@use '../../../styles/themeVariables.scss';

// $background-color_1: variables.$pale-grey;
// $background-color_2: variables.$pale-blue;

// $background-color_1: variables.$dark-blue;
// $background-color_2: variables.$midnight;

label.checkbox {
  display: inline-flex;
  gap: 15px;
  .checkboxContainer {
    display: block;
    position: relative;
    height: 24px;
    width: 24px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &.medium {
      height: 20px;
      width: 20px;
    }
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &.error {
        outline: 1px solid variables.$red;
        -webkit-box-shadow: 0px 0px 10px 0px variables.$red;
        -moz-box-shadow: 0px 0px 10px 0px variables.$red;
        box-shadow: 0px 0px 10px 0px variables.$red;
      }

      &.valid {
        outline: 1px solid variables.$valid;
        -webkit-box-shadow: 0px 0px 15px 0px variables.$valid;
        -moz-box-shadow: 0px 0px 15px 0px variables.$valid;
        box-shadow: 0px 0px 15px 0px variables.$valid;
      }
      &:checked {
        ~ {
          .checkmark {
            background-color: variables.$violet;
            &:after {
              display: block;
            }
          }
        }
      }
    }
    &:hover {
      input {
        ~ {
          .checkmark {
            @include themeVariables.themify(themeVariables.$themes) {
              background-color: themeVariables.themed('checkbox-bg-color-2');
            }
          }
        }
      }
    }
    .checkmark {
      border-radius: inherit;
      transition: background-color 0.5s;

      &:after {
        left: 9px;
        top: 4px;
        width: 7px;
        height: 14px;
        border: solid variables.$white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &.medium {
        height: 20px;
        width: 20px;

        &:after {
          left: 8px;
          top: 4px;
          width: 5px;
          height: 10px;
        }
      }

      &.error {
        outline: 1px solid variables.$red;
        -webkit-box-shadow: 0px 0px 10px 0px variables.$red;
        -moz-box-shadow: 0px 0px 10px 0px variables.$red;
        box-shadow: 0px 0px 10px 0px variables.$red;
      }

      &.valid {
        outline: 1px solid variables.$valid;
        -webkit-box-shadow: 0px 0px 15px 0px variables.$valid;
        -moz-box-shadow: 0px 0px 15px 0px variables.$valid;
        box-shadow: 0px 0px 15px 0px variables.$valid;
      }
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 24px;
      width: 24px;

      &.medium {
        height: 20px;
        width: 20px;
      }

      @include themeVariables.themify(themeVariables.$themes) {
        background-color: themeVariables.themed('checkbox-bg-color-1');
      }

      &:after {
        content: '';
        position: absolute;
        display: none;
      }
    }

    .checkboxLabel {
      font-size: 14px;
    }

    .tooltip {
      width: 180px;
      padding: 5px;
    }
  }
}
