@use '../../../styles/variables.scss';
@use '../../../styles/themeVariables.scss';
@use '../../../styles/utils.scss';

.customReactSelectLabel {
  position: relative;
  height: 60px;

  .icon {
    position: absolute;
    z-index: 1;
    left: 15px;
    top: 18px;
  }

  .customReactSelect {
    height: 100%;
  }

  :global {
    .css-1fdsijx-ValueContainer,
    .css-art2ul-ValueContainer2 {
      padding-left: 40px;

      .css-1dimb5e-singleValue {
        @include themeVariables.themify(themeVariables.$themes) {
          color: themeVariables.themed('input-color');
        }
      }
    }

    .css-t3ipsp-control {
      box-shadow: none;
    }

    .css-13cymwt-control,
    .css-t3ipsp-control {
      border: 2px solid;
      height: 100%;
      border-radius: 6px;
      box-shadow: none;

      @include themeVariables.themify(themeVariables.$themes) {
        border-color: themeVariables.themed('offer-input-border-color');
        background-color: themeVariables.themed('input-background');
        color: themeVariables.themed('input-color');
      }

      .css-1jqq78o-placeholder {
        text-align: left;
        padding-left: 15px;
        opacity: 0.5;
        font-family: variables.$font-family-light;

        @include themeVariables.themify(themeVariables.$themes) {
          color: themeVariables.themed('input-color');
        }
      }
    }

    .css-1nmdiq5-menu {
      z-index: 10;
      margin-top: 0;

      @include themeVariables.themify(themeVariables.$themes) {
        color: themeVariables.themed('input-color');
        background-color: themeVariables.themed('input-background');
      }
    }

    .css-d7l1ni-option {
      @include themeVariables.themify(themeVariables.$themes) {
        background-color: themeVariables.themed('select-option-background');
      }
    }

    .css-tr4s17-option {
      background-color: variables.$violet;
    }
  }
}
