@use '../../styles/variables.scss';
@use '../../styles/themeVariables.scss';
@use '../../styles/utils.scss';

.offerCard {
  width: 100%;
  max-width: 350px;
  height: 230px;
  position: relative;
  @include themeVariables.themify(themeVariables.$themes) {
    background-color: themeVariables.themed('offer-card-bg');
  }

  .newBadge {
    width: 38px;
    height: 20px;
    box-sizing: content-box;
    padding: 10px 3px;
    position: absolute;
    background: linear-gradient(
      90deg,
      variables.$violet 0%,
      variables.$light-violet 78%
    );
    font-size: 11px;
    letter-spacing: 0.2em;
    text-align: right;
    left: 95px;
    top: -22px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-family: variables.$font-family-bold;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      @include themeVariables.themify(themeVariables.$themes) {
        border-bottom: 10px solid themeVariables.themed('offer-new-badge-bg');
      }
      border-left: 22px solid transparent;
      border-right: 22px solid transparent;
    }
  }

  .offerArchivedIcon {
    position: absolute;
    right: 15px;
    bottom: 15px;
  }

  a {
    text-decoration: none;
  }

  padding: 50px 32px 32px 32px;
  border-radius: 6px;
  line-height: normal;
  cursor: pointer;

  .cardActionsBox {
    width: auto;
    position: absolute;
    right: 15px;
    top: 15px;
  }

  .companyLogo {
    position: absolute;
    top: 0;
    left: 32px;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 15px;
  }

  .content {
    color: variables.$grey;
    font-size: 16px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 16px;
    font-family: variables.$font-family-light;
    height: 100%;

    svg {
      margin: 0 12px;
    }

    h3 {
      font-size: 20px;
      font-family: variables.$font-family-bold;
      text-align: left;

      @include themeVariables.themify(themeVariables.$themes) {
        color: themeVariables.themed('offer-card-title-color');
      }

      @include utils.text-multi-line-ellipsis(1);
    }

    .locationBox {
      margin-top: auto;
      .location {
        color: variables.$violet;
        font-size: 14px;
        font-family: variables.$font-family-bold;
        text-align: left;
        @include utils.text-multi-line-ellipsis(1);
      }
    }
  }
}
